<div id="blank-converter" class="row">
  <div class="col-sm-6">
    <div class="form-group">
        <textarea class="form-control editor" placeholder="Message" ></textarea>
    </div>
  </div>
  <div class="col-sm-6">
    <div id="blank-editor" class="editor">
    </div>
  </div>
</div>

<div class="pull-right">
  <span id="blank-msg" class="message" style="display:none;">{{t 'blank.converter.copied'}}</span>
  <a class="btn btn-primary" {{action "convert"}}>{{t 'blank.converter.convert'}}</a>
  <a class="btn btn-default" {{action "copy"}}>{{t 'blank.converter.copy'}}</a>
  <a class="btn btn-default" {{action "print"}}>{{t 'blank.converter.print'}}</a>
  <a class="btn btn-default" {{action "cancel"}}>{{t 'blank.converter.cancel'}}</a>
</div>


{{yield}}
