<div>
  <div class="row header">
    <div class="col-sm-1">
      <span>#</span>
    </div>
    <div class="col-sm-3">
      <span>{{t 'word.header.word'}}</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7">
      <span>{{t 'word.header.meaning'}}</span>
    </div>
  </div>

  {{#each quizzes as |quiz index|}}
  <div class="row scramble">
    <div class="col-sm-1">
      <span>{{add 1 index}}</span>
    </div>
    <div class="col-sm-3 qz-block">
      <span class="none">{{quiz.word}}</span>
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-7 qz-block">
      <span>{{quiz.answer}}</span>
    </div>
  </div>
  {{/each}}

</div>
