{{blank-converter}}
<div class="clearfix"></div>
<div>
  <h4>{{t 'blank.guide.howto'}}</h4>
  <ol>
    <li>{{t 'blank.guide.1'}}</li>
    <li>{{t 'blank.guide.2'}}</li>
    <li>{{t 'blank.guide.3'}}</li>
  </ol>
</div>

{{outlet}}

{{disqus-comments identifier=appCtrl.currentRouteName class="disqus"}}
