<!-- Page Header -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">{{t 'page-header.title'}}
            <small>{{t 'page-header.small'}}</small>
        </h1>
    </div>
</div>
<!-- /.row -->

<!-- Projects Row -->
<div class="row">
    <!-- <div class="col-md-6 odo-panel">
        {{#link-to 'paint'}}
            <img class="img-responsive" src="http://placehold.it/700x400" alt="{{t 'paint.title'}}">
        {{/link-to}}
        <h3>
          {{#link-to 'paint'}}
            {{t 'paint.title'}}
          {{/link-to}}
        </h3>
        <p>{{t 'paint.description'}}</p>
    </div> -->
    <div class="col-md-6 odo-panel">
        {{#link-to 'blank'}}
            <img class="img-responsive" src="http://placehold.it/700x400" alt="{{t 'blank.title'}}">
        {{/link-to}}
        <h3>
          {{#link-to 'blank'}}
            {{t 'blank.title'}}
          {{/link-to}}
        </h3>
        <p>{{t 'blank.description'}}</p>
    </div>
    <div class="col-md-6 odo-panel">
        {{#link-to 'word'}}
            <img class="img-responsive" src="http://placehold.it/700x400" alt="{{t 'word.title'}}">
        {{/link-to}}
        <h3>
          {{#link-to 'word'}}
            {{t 'word.title'}}
          {{/link-to}}
        </h3>
        <p>{{t 'word.description'}}</p>
    </div>
</div>
